@import "tailwindcss";

/* Import Themes */
@import "./themes/default.css";
@import "./themes/dark.css";

/* Import Base Styles */
@import "./base.css";

/* Configure Tailwind Theme based on CSS Vars */
@theme {
  /* Map Colors */
  --color-primary-50: var(--color-primary-50);
  --color-primary-100: var(--color-primary-100);
  --color-primary-200: var(--color-primary-200);
  --color-primary-300: var(--color-primary-300);
  --color-primary-400: var(--color-primary-400);
  --color-primary-500: var(--color-primary-500);
  --color-primary-600: var(--color-primary-600);
  --color-primary-700: var(--color-primary-700);
  --color-primary-800: var(--color-primary-800);
  --color-primary-900: var(--color-primary-900);
  --color-primary-950: var(--color-primary-950);

  --color-surface-50: var(--color-surface-50);
  --color-surface-100: var(--color-surface-100);
  --color-surface-200: var(--color-surface-200);
  --color-surface-300: var(--color-surface-300);
  --color-surface-400: var(--color-surface-400);
  --color-surface-500: var(--color-surface-500);
  --color-surface-600: var(--color-surface-600);
  --color-surface-700: var(--color-surface-700);
  --color-surface-800: var(--color-surface-800);
  --color-surface-900: var(--color-surface-900);
  --color-surface-950: var(--color-surface-950);

  /* Radius */
  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);
  --radius-xl: var(--radius-xl);
  --radius-2xl: var(--radius-2xl);
}
