version: "3.8"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: keka-clone-api:prod
    container_name: keka-api-prod
    ports:
      - "3001:3001"
    env_file:
      - .env.production
    environment:
      - NODE_ENV=production
    restart: unless-stopped
